.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
}
.box_2 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
}
.ellipse {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
}
.image {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
}
.placeholder {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
}
.primary_button {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.link_button {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#169BD5;
}
.heading_1 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.flow_shape {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
}
.line {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
}
.html_button {
  text-align:center;
}
.paragraph1 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
.shape {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.vertical_line {
}
.image1 {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.horizontal_line {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
}
.text_field {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.droplist {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.link {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
.icon {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.modal {
  font-family:'OpenSans', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
